<main class="screen">
    <% @offices.each do |office| %>
        <a class="office-link-wrapper panel-link-wrapper" href="<%= office_path(office) %>">
            <section class="panel">
                <header class="panel-header">
                    <h2 class="panel-title">
                        <%= office[:municipality] %>, <%= office[:country] %>
                    </h2>
                    <p class="panel-subtitle"><time datetime="<%= office.current_weather[:dt] %>">
                        <%= office.current_weather[:dt] %>
                    </time></p>
                </header>
                <div class="weather-summary">
                    <p class="office-weather-desc">
                        <%= office.current_weather[:name] %>
                    </p>
                    <p class="office-weather-temp">
                        <%= office.current_weather[:average_temp] %>°c
                    </p>
                </div>
                <nav class="office-panel-controls panel-controls">
                    <p class="office-panel-controls-linkto">View details --></p>
                </nav>
            </section>
        </a>
        <% end %>
</main>
