<main class="screen">
    <section class="panel">
        <nav class="office-panel-controls panel-controls">
            <a class="office-panel-controls-linkto" href="/">&#8592; back to offices</a>
        </nav>
        <header class="panel-header">
            <h2 class="panel-title">
                <%= @office[:municipality] %>, <%= @office[:country] %>
            </h2>
            <p class="office-localtime panel-subtitle"><time datetime="<%= @office.current_weather[:dt] %>">
                    <%= @office.current_weather[:dt] %>
                </time></p>
        </header>
        <div class="panel-content weather-summary">
            <p class="office-weather-desc">
                <%= @office.current_weather[:name] %>
            </p>
            <p class="office-weather-temp">
                <%= @office.current_weather[:average_temp] %>°c
            </p>
        </div>
    </section>

    <section class="panel">
        <header class="panel-header">
            <h2 class="panel-title">Four-day forecast</h2>
        </header>
        <tab-interface>
            <% @office.forecast.in_groups_of(8).each do |forecast_days| %>
                <button slot="tab"><time datetime="<%= forecast_days[0][:dt] %>" is="relative-day">
                        <%= forecast_days[0][:dt] %>
                    </time></button>
                <div slot="tabpanel">
                    <ul role="list">
                        <% forecast_days.each do |weather| %>
                            <li>
                        <% if false %>
                                <p><time datetime="<%= weather[:dt] %>">
                                        <%= weather[:dt] %>
                                    </time></p>
                                <p><span>
                                        <%= weather[:name] %>
                                    </span>, <data>
                                        <%= weather[:average_temp] %>
                                    </data></p>
                        <% end %>
                        <%= weather.inspect %>
                            </li>
                        <% end %>
                    </ul>
                </div>
                <% end %>
        </tab-interface>
    </section>
</main>
